/* fonts */
@font-face {
    font-family: 'Muller';
    src: url('../assets/fonst/MullerRegular.woff2') format('woff2'),
        url('../assets/fonst/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonst/MullerMedium.woff2') format('woff2'),
        url('../assets/fonst/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonst/MullerRegularItalic.woff2') format('woff2'),
        url('../assets/fonst/MullerRegularItalic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonst/MullerBold.woff2') format('woff2'),
        url('../assets/fonst/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonst/MullerLightItalic.woff2') format('woff2'),
        url('../assets/fonst/MullerLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Global */
.flex {
    display: flex;
}

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    font-weight: 400;
    font-family: 'Muller', sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

.container {
    max-width: 1140px;
    padding: 0px 15px;
    font-display: auto;
    flex-direction: column;
    margin: 0 auto;
}

.section__subtitle {
    color: #A1A6B4;
    font-size: 16px;
}

/* Modal */

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #777;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__window {
    background-color: #121723;
    padding: 60px;
    position: relative;
}

.close {
    position: absolute;
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 3px solid #A1A6B4;
    border-radius: 50%;
    right: 60px;
    top: 60px;
}

.close::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 24px;
    background-color: #A1A6B4;
    transform: rotate(45deg);
    top: 6px;
    right: 16px;
}

.close::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 24px;
    background-color: #A1A6B4;
    transform: rotate(-45deg);
    top: 6px;
    right: 16px;
}

.close:hover {
    border-color: #6D31EE;
}

.close:hover .close::after {
    background-color: #6D31EE;
}

.close:hover .close::before {
    background-color: #6D31EE;
}

.modal__title {
    font-size: 48px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 17px;
}

.modal__descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.sign {
    color: #6D31EE;
    margin-left: 3px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.modal__input {
    border: 1px solid #FFFFFF;
    max-width: 526px;
    border-radius: 30px;
    padding: 25px 32px;
    font-size: 20px;
    line-height: 20px;
    background-color: inherit;
}

.modal__area::placeholder {
    font-size: 20px;
    line-height: 20px;
    color: #A1A6B4;
}

.modal__button {
    max-width: 167px;
    padding: 25px 54px;
    background: #6D31EE;
    border-radius: 40px;
    border: 2px solid #6D31EE;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    transition: all .1s;
}

.modal__button:hover {
    background-color: #AA9DFA;
    border-color: #AA9DFA;
}

.modal__button:focus {
    background-color: #AA9DFA;
    border-color: #4F28A5;
}

.modal__button:active {
    background-color: #4F28A5;
    border-color: #4F28A5;
}

.modal__divider {
    display: inline-block;
    width: 704px;
    height: 1px;
    background-color: rgba(230, 232, 236, 0.4);
    margin-bottom: 30px;
}

.modal__login {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.modal__list {
    display: flex;
    gap: 40px;
}

/* Header */

.header {
    position: relative;
}

.header__top {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.header__top::before {
    content: "";
    position: absolute;
    height: 1px;
    top: 83px;
    left: 0;
    right: 0;
    background-color: #E6E8EC;
}

.header__controls {
    display: flex;
    gap: 24px;
    align-items: center;
}

.nav__item {
    font-size: 20px;
    color: #121723;
}

.header__search {
    cursor: pointer;
    position: relative;
}

.search__input {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    border-bottom: 1px solid #6D31EE;
    padding-right: 112px;
}

.search__input::placeholder {
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
}

.header__search path {
    transition: stroke .1s;
}

.header__search:hover path {
    stroke: #AA9DFA;
}

.header__search:focus path {
    stroke: #AA9DFA;
}

.header__search:active path {
    stroke: #4F28A5;
}

.header__btn {
    border: 2px solid #121723;
    border-radius: 77px;
    padding: 12px 32.5px;
    color: #121723;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    transition: all .1s;
}

.header__btn:hover {
    background-color: #121723;
    color: #fff;
}

.header__btn:focus {
    background-color: #AA9DFA;
    color: #121723;
}

.header__btn:active {
    color: #fff;
    border-color: #4F28A5;
    background-color: #4F28A5;
}

.header__bottom {
    display: flex;
    align-items: center;
    gap: 52px;
}

.header__bottom::before {
    content: "";
    position: absolute;
    height: 1px;
    top: 143px;
    left: 0;
    right: 0;
    background-color: #E6E8EC;
}

.header__play path {
    transition: fill .1s;
}

.header__play:hover path {
    fill: #6D31EE;
}

.header__play:focus path {
    fill: #AA9DFA;
}

.header__play:active path {
    fill: #4F28A5;
}

.nav__list {
    display: flex;
    gap: 58.75px;
}

.header__list {
    display: flex;
    gap: 52px;
}

.header__item {
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
}

.item__btn {
    padding: 3px 5px;
    transition: all .1s;
}

.item__btn:hover {
    color: #6D31EE;
}

.item__btn:focus {
    background-color: #AA9DFA;
    color: #fff;
}

.item__btn:active {
    background-color: inherit;
    color: #4F28A5;
}

.live {
    display: flex;
    align-items: center;
}

.live__line {
    height: 40px;
    width: 1px;
    background-color: #E6E8EC;
}

.live__block {
    display: flex;
    padding: 0 10px;
    gap: 10px;
    align-items: center;
    width: 175px;
}

.live__descr {
    font-size: 12px;
    color: #A1A6B4;
}

.live__title {
    color: #121723;
    font-size: 16px;
}

.header__rating {
    background: #E6E8EC;
    padding: 15px 8px;
}

.rating__num {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    padding: 7px 4.5px;
    font-size: 12px;
    line-height: 16px;
    color: #A1A6B4;
}

/*Main*/

.section__title {
    font-size: 48px;
    font-weight: 400;
    color: #121723;
}

.section,
.footer {
    padding: 94px 0;
}

.radio {
    background-image: url("../assets/images/microphone.jpg");
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 350px 372px;
}

.radio__title {
    color: #121723;
    font-weight: 700;
    font-size: 60px;
}

.radio__name {
    font-weight: 300;
}

.radio__descr {
    max-width: 640px;
    color: #121723;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 45px;
}

.radio__button {
    padding: 25px 54px;
    background: #6D31EE;
    border-radius: 40px;
    border: 2px solid #6D31EE;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    transition: all .1s;
}

.radio__button:hover {
    background-color: #AA9DFA;
}

.radio__button:focus {
    background-color: #AA9DFA;
    border-color: #4F28A5;
}

.radio__button:active {
    background-color: #4F28A5;
}

.podcast {
    background-color: #E6E8EC;
}

.podcast__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
}

.podcast__title {
    margin-bottom: 30px;
}

.podcast__item {
    background-color: #fff;
    padding: 22px 0 0 112px;
    position: relative;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 112px 140px;
}

.podcast__main {
    width: 161px;
}

.podcast__date {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #E6E8EC;
}

.podcast__name {
    font-size: 20px;
    color: #121723;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 4px;
}

.podcast__author {
    font-size: 16px;
    color: #A1A6B4;
    line-height: 16px;
}

.podcast__time {
    font-size: 12px;
    color: #121723;
    line-height: 12px;
}

.podcast1 {
    background-image: url("../assets/images/podcast1.jpg");
}

.podcast2 {
    background-image: url("../assets/images/podcast2.jpg");
}

.podcast3 {
    background-image: url("../assets/images/podcast3.jpg");
}

.podcast4 {
    background-image: url("../assets/images/podcast4.jpg");
}

.podcast5 {
    background-image: url("../assets/images/podcast5.jpg");
}

.podcast6 {
    background-image: url("../assets/images/podcast6.jpg");
}

.podcast7 {
    background-image: url("../assets/images/podcast7.jpg");
}

.podcast8 {
    background-image: url("../assets/images/podcast8.jpg");
}

.podcast__info {
    display: flex;
    gap: 144px;
    margin-bottom: 24px;
    padding-left: 30px;
    padding-right: 30px;
}

.podcast__actions {
    padding: 9px 0 6px 30px;
    border-top: 1px solid #E6E8EC;
    display: flex;
    align-items: center;
    gap: 30px;
}

.podcast__view,
.podcast__like,
.podcast__share {
    transition: all .1s;
}

.podcast__view,
.podcast__like,
.podcast__share {
    display: flex;
    gap: 6px;
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
    padding: 2px;
}

.podcast__view:hover path {
    fill: #6D31EE;
}

.podcast__view:hover {
    color: #6D31EE;
}

.podcast__view:focus path {
    fill: #fff;
}

.podcast__view:focus {
    color: #fff;
    background-color: #AA9DFA;
}

.podcast__view:active path {
    fill: #4F28A5;
}

.podcast__view:active {
    color: #4F28A5;
    background-color: inherit
}

.podcast__like:hover path {
    fill: #6D31EE;
}

.podcast__like:hover {
    color: #6D31EE;
}

.podcast__like:focus path {
    fill: #fff;
}

.podcast__like:focus {
    color: #fff;
    background-color: #AA9DFA;
}

.podcast__like:active path {
    fill: #4F28A5;
}

.podcast__like:active {
    color: #4F28A5;
    background-color: inherit
}

.podcast__share:hover path {
    fill: #6D31EE;
}

.podcast__share:hover {
    color: #6D31EE;
}

.podcast__share:focus path {
    fill: #fff;
}

.podcast__share:focus {
    color: #fff;
    background-color: #AA9DFA;
}

.podcast__share:active path {
    fill: #4F28A5;
}

.podcast__share:active {
    color: #4F28A5;
    background-color: inherit
}

.podcast__button {
    padding: 25px 54px;
    border: 2px solid #6D31EE;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #6D31EE;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all .1s;
}

.podcast__button:hover {
    background-color: #6D31EE;
    color: #fff;
}

.podcast__button:focus {
    background-color: #AA9DFA;
    color: #fff;
}

.podcast__button:active {
    background-color: #4F28A5;
    color: #fff;
    border-color: #4F28A5;
}

.podcast__btn circle {
    transition: stroke .1s;
}

.podcast__btn path {
    transition: fill .1s;
}

.podcast__btn:hover circle {
    stroke: #6D31EE;
}

.podcast__btn:hover path {
    fill: #6D31EE;
}

.podcast__btn:focus circle {
    stroke: #AA9DFA;
}

.podcast__btn:focus path {
    fill: #AA9DFA;
}

.podcast__btn:active circle {
    stroke: #4F28A5;
}

.podcast__btn:active path {
    fill: #fff;
}

.podcast__btn:active svg {
    fill: #4F28A5;
}

.show__box {
    display: flex;
    gap: 30px;
}

.show__title {
    margin-bottom: 12px;
}

.show__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show__subtitle {
    font-size: 16px;
    color: #A1A6B4;
}

.show__author {
    z-index: 100;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px 12px 12px;
    background-color: #E6E8EC;
    border-radius: 10px;
}

.archive {
    display: inline-block;
    height: 173px;
    width: 255px;
    padding-top: 113px;
    background-image: url("../assets/images/mic.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 65px 89px;
}

.archive__button {
    font-size: 16px;
    line-height: 16px;
    padding: 12px 56px;
    border: 2px solid #121723;
    border-radius: 77px;
    margin-bottom: 12px;
    transition: all .1s;
}

.archive__button:hover {
    background-color: #121723;
    color: #fff;
}

.archive__button:focus {
    border-color: #121723;
    background-color: #AA9DFA;
    color: #121723;
}

.archive__button:active {
    border-color: #4F28A5;
    background-color: #4F28A5;
    color: #fff;
}

.archive__descr {
    color: #A1A6B4;
    font-size: 16px;
    line-height: 150%;
}

.show__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.show__item {
    position: relative;
    padding: 188px 0 20px 16px;
    width: 255px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 255px 148px;
    border: 1px solid #E6E8EC;
}

.show__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 168px;
    transition: opacity .1s;
}

.show__item:hover .show__img {
    opacity: 0.7;
}

.show__item:focus {
    border: 1px solid #6D31EE;
}

.show__item:active .show__img {
    opacity: 0.7;
}

.show1 {
    background-image: url("../assets/images/archive1.jpg");
}

.show2 {
    background-image: url("../assets/images/archive2.jpg");
}

.show3 {
    background-image: url("../assets/images/archive3.jpg");
}

.show4 {
    background-image: url("../assets/images/archive4.jpg");
}

.show5 {
    background-image: url("../assets/images/archive5.jpg");
}

.show6 {
    background-image: url("../assets/images/archive6.jpg");
}

.show__name {
    color: #121723;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 4px;
}

.show__time {
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
    margin-bottom: 20px;
}

.show__more {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
    font-weight: 300;
    gap: 4px;
    transition: color .1s;
}

.show__more:hover {
    color: #6D31EE;
}

.show__more path {
    transition: fill .1s;
}

.show__more:hover path {
    fill: #6D31EE;
}

.show__more:focus {
    color: #fff;
    background-color: #AA9DFA;
}

.show__more:focus path {
    fill: #fff;
}

.show__more:focus {}

.show__more:active {}

.show__options {
    display: flex;
    flex-direction: column;
    border: 1px solid #D2D5DD;
    border-top: none;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
}


.show__option:first-child {
    padding-top: 20px;
    z-index: 0;
}

.show__option:not(:last-child) {
    border-bottom: 1px solid #D2D5DD;
}

.show__option {
    padding: 12px;
    font-size: 16px;
    color: #A1A6B4;
    cursor: pointer;
    transition: all .1s;
}

.show__option:hover {
    background-color: #F5F6F7;
    color: #121723;
}

.show__option:focus {
    background-color: #AA9DFA;
    color: #121723;
}

.show__option:active {
    background-color: #F5F6F7;
    color: #121723;
}

.select {
    position: relative;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

.guests {
    background-color: #121723;
}

.guests__title {
    font-size: 48px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.guest__info {
    font-size: 20px;
    line-height: 150%;
    color: #A1A6B4;
    font-weight: 500;
}

.guest__descr {
    font-size: 20px;
    line-height: 160%;
    font-weight: 400;
    color: #A1A6B4;
    margin-bottom: 50px;
}

.guest__content {
    display: flex;
    justify-content: space-between;
}

.guest__content {
    transition: fill .1s;
}

.guest__account:hover path {
    fill: #6D31EE;
}

.guest__account:focus path {
    fill: #AA9DFA;
}

.guest__account:active path {
    fill: #4F28A5;
}

.guests__acardion {
    display: flex;
    flex-direction: column;
    width: 730px;
}

.acardion__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    padding: 20px 0;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    border-top: 1px solid #A1A6B4;
    border-bottom: 1px solid #A1A6B4;
    transition: all .1s;
}

.no-collapsed {
    border-top: 1px solid #AA9DFA;
    border-bottom: 1px solid #AA9DFA;
}

.acardion__item:hover {
    color: #AA9DFA;
}

.acardion__item circle {
    transition: stroke .1s;
}

.acardion__item path {
    transition: stroke .1s;
}

.acardion__item:hover circle {
    stroke: #AA9DFA;
}

.acardion__item:hover path {
    stroke: #AA9DFA;
}

.acardion__item:focus {
    color: #fff;
    background-color: #292E39;
}

.acardion__item:focus circle {
    stroke: #fff;
}

.acardion__item:focus path {
    stroke: #fff;
}

.acardion__item:active {
    color: #AA9DFA;
    background-color: #292E39;
}

.acardion__item:active circle {
    stroke: #AA9DFA;
}

.acardion__item:active path {
    stroke: #fff;
}

.acardion__item:active svg {
    fill: #AA9DFA;
}

.acardion__inner {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.guest__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.guest__item {
    font-size: 16px;
    color: #FFFFFF;
}

.selected {
    color: #AA9DFA;
}

.guest__social {
    display: flex;
    gap: 30px;
    margin-bottom: 12px;
}

.guest__image {
    margin-bottom: 12px;
}

.guest__text {
    max-width: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #A1A6B4;
    margin-bottom: 30px;
}

.guest__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.guest__button {
    padding: 12px 19.5px;
    border: 2px solid #AA9DFA;
    border-radius: 77px;
    font-size: 16px;
    font-weight: 500;
    color: #AA9DFA;
    transition: all .1s;
}

.guest__button:hover {
    background-color: #AA9DFA;
    color: #fff;
}

.guest__button:focus {
    background-color: #6D31EE;
    border-color: #6D31EE;
    color: #fff;
}

.guest__button:active {
    background-color: #4F28A5;
    border-color: #4F28A5;
    color: #fff;
}

.playlist__image {
    height: 160px;
}

.playlist__cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(18, 23, 35, .8);
    display: none;
}

.playlist__left {
    display: flex;
    flex-direction: column;
}

.playlist__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.playlist__title {
    margin-bottom: 12px;
}

.playlist__subtitle {
    display: inline-block;
}

.playlist__input {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-bottom: 22px;
    border-bottom: 1px solid #D2D5DD;
    margin-bottom: 38px;
}

.radio__box {
    display: flex;
    gap: 12px;
    align-items: center;
}

.radio__label {
    display: flex;
    align-items: center;
    gap: 14px;
}

.radio__input {
    display: none;
}

.radio__input:checked+.custom__radio {
    border: 7px solid #6D31EE;
}

.custom__radio {
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 2px solid #A1A6B4;
    border-radius: 50%;
    transition: all .1s;
}

.radio__label:hover .custom__radio {
    border-color: #6D31EE;
}

.radio__label:focus .custom__radio {
    border-color: #6D31EE;
    background-color: #D2D5DD;
}

.radio__label:active .custom__radio {
    border: 7px solid #6D31EE;
}


.radio__label {
    font-size: 20px;
    color: #121723;
}

.playlist__content {
    display: flex;
    gap: 34px;
}

.playlist__warn {
    font-size: 16px;
    line-height: 22px;
}

.playlist__date {
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 8px;
}

.playlist__rating {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    border: 1px solid #A1A6B4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist__warn,
.playlist__date,
.playlist__rating {
    color: #A1A6B4;
}

.playlist__item {
    position: relative;
    border: 1px solid #E6E8EC;
}

.playlist__item:hover .playlist__cover {
    display: flex;
}

.playlist__flag {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    background-color: #121723;
}

.playlist__text {
    padding: 16px;
    transition: all .1s;
}

.playlist__text:hover {
    background-color: #6D31EE;
}

.playlist__text:hover .playlist__name,
.playlist__descr {
    color: #fff;
}

.playlist__text:hover .playlist__cover {
    display: block;
}

.playlist__text:focus {
    background-color: #AA9DFA;
}

.playlist__text:focus .playlist__name,
.playlist__descr {
    color: #121723;
}

.playlist__text:active {
    background-color: #4F28A5;
}

.playlist__text:active .playlist__name,
.playlist__descr {
    color: #fff;
}

.playlist__name {
    font-size: 16px;
    color: #121723;
}

.playlist__descr {
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
}

.playlist__descr,
.playlist__name {
    transition: all .1s;
}

.onewave {
    background-color: #292E39;
}

.onewave__block {
    display: flex;
    gap: 30px;
}

.onewave__title {
    color: #F0D288;
    font-weight: 400;
}

.onewave__descr,
.onewave__intro {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #FFFFFF;
}

.onewave__descr {
    margin-bottom: 30px;
}

.onewave__intro {
    margin-bottom: 12px;
}

.onewave__price {
    font-weight: 500;
    font-size: 30px;
    display: block;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.onewave__button {
    padding: 25px 13.5px;
    border: 2px solid #F0D288;
    border-radius: 100px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #F0D288;
    transition: all .1s;
}

.onewave__button:hover {
    background-color: #F0D288;
    color: #121723;
}

.onewave__button .path1,
.path2 {
    transition: all .1s;
}

.onewave__button:hover .path2 {
    fill: #F0D288;
}

.onewave__button:hover .path1 {
    fill: #121723;
}

/**/
.onewave__button:focus {
    background-color: #BB973E;
    color: #121723;
}

.onewave__button:focus .path2 {
    fill: #121723;
}

.onewave__button:focus .path1 {
    fill: #F0D288;
}

/**/
.onewave__button:active {
    background-color: #BB973E;
    border-color: #BB973E;
    color: #121723;
}

.onewave__button:active .path2 {
    fill: #BB973E;
}

.onewave__button:active .path1 {
    fill: #121723;
}

/**/


.image {
    position: relative;
    width: 640px;
    height: 562px;
}

.onewave__image {
    position: absolute;
    width: 640px;
    height: 562px;
}

.new {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
}

.onewave__content {
    max-width: 445px;
}


.aboutus {
    background-color: #121723;
}

.aboutus__title {
    color: #fff;
    margin-bottom: 12px;
}

.aboutus__message {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #A1A6B4;
    margin-bottom: 8px;
}

.aboutus__descr {
    line-height: 160%;
    color: #A1A6B4;
}

.slider__box {
    position: relative;
    height: 100%;
    margin-bottom: 30px;
}


.slider {
    background-color: inherit;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.swiper {
    display: flex;
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
    gap: 30px;
}

.swiper-slide,
.swiper-slide-active {
    max-width: 255px;
    height: 360px;
    margin: 0 !important;
}

.slide__image {
    margin-bottom: 30px;
}

.slide__name {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 8px;
}

.slide__descr {
    font-size: 16px;
    color: #A1A6B4;
}

.swiper-button-prev {
    position: absolute;
    left: -7%;
    width: 48px;
}

.swiper-button-next {
    position: absolute;
    right: -7%;
    width: 48px;
}

.aboutus__text {
    padding-right: 475px;
    background-image: url("../assets/images/figures.png");
    background-repeat: no-repeat;
    background-position: right center;
    margin-bottom: 30px;
}

.aboutus__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 920px;
}

.aboutus__area,
.aboutus__input {
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    font-size: 20px;
    line-height: 20px;
    background-color: inherit;
}


.aboutus__area {
    padding: 30px 0 72px 32px;
    caret-color: #fff;
}

.aboutus__area::placeholder {
    font-size: 20px;
    line-height: 20px;
    color: #A1A6B4;
}

.aboutus__inputs {
    display: flex;
    justify-content: space-between;
}

.aboutus__input {
    caret-color: #fff;
    padding: 25px 32px;
    width: 48.5%;
}

.aboutus__button {
    align-self: flex-start;
    padding: 25px 54px;
    background-color: #6D31EE;
    border: 1px solid #6D31EE;
    border-radius: 40px;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    transition: all .1s;
}

.aboutus__button:hover {
    background-color: #AA9DFA;
    border: 1px solid #AA9DFA;
}

.aboutus__button:focus {
    background-color: #AA9DFA;
    border: 1px solid #6D31EE;
}

.aboutus__button:active {
    background-color: #4F28A5;
    border: 1px solid #4F28A5;
}

.aboutus__check {
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    border: 1px solid #FFF;
}

.checkbox {
    display: none;
}

.aboutus__check::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 4px;
    width: 2px;
    height: 6px;
    transform: rotate(45deg);
    background-color: #AA9DFA;
    opacity: 0;
}

.aboutus__check::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 7px;
    width: 2px;
    height: 3px;
    transform: rotate(-45deg);
    background-color: #AA9DFA;
    opacity: 0;
}

.checkbox:checked+.aboutus__check::after {
    opacity: 1;
}

.checkbox:checked+.aboutus__check::before {
    opacity: 1;
}

.personal__label {
    display: flex;
}

.personal__acception {
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin: 3px 0 0 0;
    color: #FFFFFF;
}

.footer {
    background-color: #292E39;
    padding-bottom: 0;
}

.footer__main {
    margin-bottom: 20px;
}

.footer__social {
    display: flex;
    gap: 21px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.footer__menu {
    display: flex;
    gap: 109px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__item {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #A1A6B4;
}

.footer__link path {
    transition: all .1s;
}

.footer__link:hover path {
    fill: #6D31EE;
}

.footer__link:focus path {
    fill: #AA9DFA;
}

.footer__link:active path {
    fill: #4F28A5;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 320px) {}